.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.582);
}
.modal {
  position: absolute;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 24vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 600ms ease-out forwards;
  width: fit-content;
  padding: 50px;
  border-radius: 9px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
