.auth {
  height: calc(100vh - 83px);
  background-image: url(../Assets/formillustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  align-items: center;
}

.form {
  margin-left: 150px;
  max-width: 412px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form h2 {
  font-size: 32px;
  font-weight: var(--fw-semibold);
  letter-spacing: 1px;
}
.form__desc {
  margin: 5px 0px 8px 0;
  letter-spacing: 1.3px;
}
.form label {
  margin-top: 20px;
}

.form input {
  padding: 15px 10px;
  border: 1px solid var(--borders-outline-blackish);
  border-radius: 9px;
}
.form input:focus {
  border: 1px solid var(--primary-cta-redishpink);
}
.form label {
  font-weight: var(--fw-medium);
  margin-bottom: 7px;
  letter-spacing: 1px;
}
.form input::placeholder {
  font-weight: var(--fw-thin);
  letter-spacing: 1px;
  font-size: 16px;
}
.form__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.form__action span {
  margin-left: 4px;
}

.form__btn {
  padding: 15px 10px;
  border: transparent;
  background: none;
  border-radius: 9px;
  font-weight: var(--fw-medium);
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
}
.form__btn--signin {
  background-color: var(--primary-cta-redishpink);
  color: var(--primary-text-white);
  margin-bottom: 24px;
}
.form__btn--google {
  border: 1px solid var(--borders-outline-blackish);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}
.form__btn--google img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.form__signup {
  text-align: center;
  font-weight: var(--fw-medium);
  margin-top: 30px;
  letter-spacing: 1px;
}
.action-btn {
  background: none;
  border: none;
  color: var(--primary-cta-redishpink);
  font-size: 16px;
  font-weight: (var(--fw-medium));
  cursor: pointer;
}
