@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary colors */
  --primary-cta-redishpink: #cf225d;
  --primary-text-white: #ffffff;
  --primary-headings-purple: #46244d;
  --primay-text-black: #000000;
  /* secondary colors */
  --redish-pink-hover: rgba(207, 34, 93, 0.28);
  --dashboard-menu-bg: #eeeeee;
  --borders-outline-blackish: #1e1e1e;

  /* font weights */

  --fw-thin: 100;
  --fw-verylight: 200;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-regular: 400;
}

body {
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}
img {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1340px;
  width: 95%;
  margin: 0 auto;
}
